.btn {
    color: #d8dad3;
    background: transparent;
    font-size: 25px;
    padding: 5px 10px;
    border: 2px #d8dad3 solid;
    border-radius: 10px;
    margin: 10px 0 0 0;
    transition: 0.5s;

    &:hover {
        color: #022f40;
        background-color: #d8dad3;
        padding: 5px;
        transition: 0.5s;
    }
}