.mobile__Header {
    display: flex;
    justify-content: center;
    margin-bottom: 7%;

    .Header__div {
        width: 75vw;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    h3 {
        font-size: 30px;
        margin-top: 20px;
    }
}